/* Navbar CSS */
.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 30px;
}

/* All */
.button1 {
    text-transform: uppercase;
    border-radius: 30px;
}

/* Jumbotron CSS */
.jumbotron {
    background-image: url(/img/jumbotron-bg.jpg);
    background-size: cover;
    text-align: center;
    height: 640px;
}

.jumbotron .display-4 {
    color: white;
    margin-bottom: 30px;
    margin-top: 160px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 62px
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Only Dekstop */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .jumbotron { 
        margin-top: -75px;
    }

    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0e4cdd;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}